.our-products-div {
    background-color: aliceblue;
    font-family: 'Open Sans Condensed', sans-serif;
}
/* .product-image-div {
    height: auto;
    width: auto;
    margin: 5px;
} */
.product-image-div img {
    height: 50%;
    width: 90%;
    margin: 10px;
    border-radius: 5%;
    border-style: solid;
    border-color:royalblue;
    border-width: 1px;
    
}