main {
  min-height: 80vh;
  /* background-color: aliceblue; */
}

h3 {
  padding: 1rem 0;
}
h2 {
  text-align: center;
}

.Container {
  background-color: aliceblue;
}

img {
  object-fit: cover;
}

/* .rating span {
  margin: 0.1rem;
} */
.menu-button {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.menu-button-container {
  height: 100px;
  position: relative;
}
